---
import Header from "../components/Header.astro"
import BasicsLayout from "../layouts/BasicsLayout.astro"
import ScrollProgress from "../components/ScrollProgress"
import CardLayout from "../layouts/CardLayout.astro"
import CursorTag from "../components/CursorTag"
import pointerSvg from "../../public/svg/pointer.svg?raw"
import snippetSvg from "../../public/svg/snippet.svg?raw"
import DarkMode from "../components/DarkMode.astro"


---


<style is:global>
	.description_card p {
		max-width: 240px;
		@media screen and (max-width:1024px) {
			max-width: 100%;
		}
	}

	.svg_tracker svg {
		position: absolute;
		bottom: -100px;
		right: -80px;
		
	}
	@media screen and (max-width:1024px) {
			.svg_tracker svg {
				width: 200px;
				bottom: -160px;
				right: -40px;
			}
		}

	@media screen and (max-width:1280px) and (min-width:1024px){
			.svg_tracker svg {
				bottom: -150px;
				right: -50px;
				width: 300px;
			}
		}
</style>

<BasicsLayout title="La Piscine" >
	<ScrollProgress client:load/>
	<Header/>
	<section class="w-full flex flex-col items-center justify-center my-32 ">
		<div class="max-w-[1440px] flex justify-between gap-20">
			<div class="relative">
				<h2 class="text-center text-[112px] leading-none font-semibold">Que le plus fort,<br/><span class="italic">l'emporte!</span></h2>
				<img src="/svg/secondary_badge.svg" alt="Badge code et éclair" class="absolute bottom-36"/>
			</div>
			<div class="relative">
				<img src="/svg/card.svg" alt="Image d'une carte"/>
				<img src="/svg/main_badge.svg" alt="Badge avec logo clash of dev" class="absolute -right-3 top-2"/>
			</div>
		</div>
		<div class="w-full max-w-[1440px]">
			<h2 class="text-left font-bold text-[225px] text-nowrap overflow-hidden">&lt;A&gt;Front les Tous !</h2>
		</div>
	</section>
	<section class="w-full flex justify-center ">
		<div class="max-w-[1440px] px-8 flex w-full flex-col">
			<CardLayout color="purple" title="l'artiste de renom" imgUrl="/img/painter.png" imgAlt="Imagé en pixel d'un peintre">
				<CursorTag color="purple" href="/" tag="@chris" slot="tag"/>
				<CursorTag color="purple" href="/" tag="@lina" slot="tag"/>
				<Fragment slot="description">
					<p><strong>Le design</strong>, c’est son terrain de jeu.Il maîtrise et retranscrit correctement chaque pixel de la maquette.</p>
					<p>Virtuose des couleurs il ne se trompe jamais de code HEX, de spacing ou de border-radius ; <strong >Figma n’a aucun secret pour ce Dev de talent.</strong></p>
				</Fragment>
				<Fragment set:html={pointerSvg} slot="svg" />
			</CardLayout>
			<!-- <CardLayout color="pink" title="le bâtisseur de code" imgUrl="/img/builder.png" imgAlt="Imagé en pixel d'un peintre">
				<CursorTag color="pink" href="/" tag="@maislina_" slot="tag"/>
				<CursorTag color="pink" href="/x.com/zied" tag="zied" slot="tag"/>
				<Fragment slot="description">
					<p>Ses lignes de code sont des fondations solides. C’est un maître du front, capable de structurer les systèmes les plus complexes sans se casser la tête.</p>
					<p>Maitre de VSCode, il a surement fini le challenge en s’assurant d’avoir le code le plus clair et le plus propre des 36 participants.</p>
				</Fragment>
				<Fragment set:html={snippetSvg} slot="svg" />
			</CardLayout>
	 -->
		</div>
	</section>


</BasicsLayout>
