---
import buttonSvg from "/svg/button.svg?raw"

---

<script >
    const darkButton = document.querySelector('#darkMode > button')
    const darkContainer = document.querySelector('#darkMode')


    darkContainer?.addEventListener('click',()=>{
        handleDarkMode()
    })
	const handleDarkMode = ()=>{
        const body = document?.querySelector('body')
        const svgButton = document.querySelector('#darkMode > button > svg > path')

        if(svgButton?.attributes[1].value === "#262625"){
            svgButton.setAttribute('fill','#F3F3F1')
        } else {
            svgButton?.setAttribute('fill','#262625')
        }
        body?.classList.toggle('dark')
        darkButton?.classList.toggle('animate-darkButton')
        darkButton?.classList.toggle('animate-lightButton')
    }
</script>


<div id="darkMode" class="bg-[#262625] dark:bg-[#F3F3F1] w-[60px] flex py-1 rounded-full px-1 cursor-pointer ">
    <button class={` text-[#262625] bg-[#F3F3F1] dark:bg-[#262625] dark:text-[#F3F3F1] w-6 h-6 rounded-full pl-[3.5px] animate-lightButton`} aria-label="Toggle dark mode">
        <Fragment set:html={buttonSvg}/>
    </button>
</div> 