---
---

<footer class=" w-full flex justify-center px-3 py-8 text-[#262625] dark:text-[#F3F3F1] z-10">
    <div class="flex justify-between max-w-[1440px] w-full items-center my-5 ">
      <h1 class="bg-[#262625] text-[#EBEDFF] font-bold text-xs inline-block px-3 py-1.5 rounded-full rotate-[8deg] dark:text-[#262625] dark:bg-[#EBEDFF] ">LA PISCINE</h1>
      <span class="font-bold text-xs dark:text-[#262625] dark:bg-[#F3F3F1] px-2 py-1.5 rounded-full">100%</span>
      <p class="text-xs font-bold">@2024</p>
    </div>
    
  </footer>