---
import { ScrollTracker } from "./ScrollTracker";
---

<header class=" w-full flex justify-center sticky">
  <div class="flex justify-between max-w-[1440px] w-full items-center my-5 ">
    <h1 class="bg-[#262625] text-[#EBEDFF] font-bold text-xs inline-block px-3 py-1.5 rounded-full rotate-[8deg]">LA PISCINE</h1>
  <ScrollTracker purcentage={7}/>
  <span>futur switch</span>
  </div>
  
</header>