---
import { colorExist, COLOR_CARDS } from "../utils/colorUtils"
import type { Color } from "../utils/colorUtils";

interface Props {
    title: string;
    imgUrl: string;
    imgAlt: string;
    color: Color;   
}

const {title, imgUrl, imgAlt, color} = Astro.props

const bgColor = colorExist(COLOR_CARDS,color)?.bg
---
<div class=`w-full ${bgColor} relative overflow-hidden rounded-[60px] sticky top-0 }`>
    <div class="flex justify-between items-center mt-5 w-full flex-col sm:flex-row">
        <h3 class="font-bold text-xs lg:ml-64 sm:ml-36 pb-4 pt-5 sm:py-0 sm:w-full dark:text-[#262625]">{title.toLocaleUpperCase()}</h3>
        <div class="space-x-8 mr-0 -mt-10 sm:mr-20 sm:mt-9 flex items-end flex-col sm:flex-row md:gap-0 gap-5 translate-y-20 sm:translate-y-0 pr-5 sm:pr-0 w-full sm:justify-end">
            <slot name="tag"/>
        </div>
    </div>
    <div class="flex sm:p-10 p-4 lg:flex-row flex-col gap-6 lg:gap-0 md:gap-4">
        <img src={imgUrl} alt={imgAlt} class="sm:object-cover object-contain inline-block sm:h-[30vh] xl:w-full lg:w-4/5 md:h-3/5 rounded-[20px] px-4 sm:p-0"/>
        <div class="flex flex-col gap-8 text-xs px-5 w-full text-[#262625]/60 description_card lg:pb-0 lg:pt-7 md:pb-20 pb-24 ">
            <slot name="description"/>
        </div>
    </div>
    <div class="svg_tracker">
        <slot name="svg"/>
    </div>
</div>